/* Note : link should always be followed by visited and hover should always be followed by active  */

a:link{
  color:blue;
  /* text-decoration: none; short-cut:ctrl+/  */
  font-size: 1.2em;
}
a:visited{
  color:purple;
  text-decoration: none;
  font-size: 1.2em;
}

a:hover{
  color:red;
  text-decoration: none;
  font-size: 1.5em;
}

a:active{
  color:black;
  text-decoration: none;
  font-size: 1.2em;
}
